{% extends 'ActivityEvaluation/base.html' %}
{% load staticfiles %}
{% block content %}

    <h1>Créations d'une activité.</h1>
    <form action="" method="post">{% csrf_token %}
        {% for field in form %}
        <div class="row">
            <div class="col-xs-3">
                {{ field.label_tag }}
            </div>
            <div class="col-xs-9">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Sauvegarder"/>
    </form>
{% endblock %}