<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link href="{% static 'ActivityEvaluation/bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'ActivityEvaluation/bootstrap/css/bootstrap-theme.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'ActivityEvaluation/jquery/jquery-ui/jquery-ui.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'ActivityEvaluation/jquery/jquery-ui/jquery-ui.structure.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'ActivityEvaluation/jquery/jquery-ui/jquery-ui.theme.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'ActivityEvaluation/style.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'ActivityEvaluation/jquery/jquery-2.2.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'ActivityEvaluation/bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'ActivityEvaluation/jquery/jquery-ui/external/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'ActivityEvaluation/jquery/jquery-ui/jquery-ui.js' %}"></script>
    <title>BoscoSoft : Module de gestion des cas</title>
</head>
<body>
<nav class="navbar navbar-default mainnavbar" id="mainnavbar">
    <a class="navbar-brand" href="#">BoscoSoft</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'ActivityEvaluation:index' %}">Recherche</a>
        </li><li class="nav-item">
            <a class="nav-link" href="{% url 'ActivityEvaluation:evaluation_creation' %}">Création</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">À propos</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="col-sm-9">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% block scripts %}
{% endblock %}
</body>
</html>